doctype html
html
  head
    title Portafolios
    link(rel='stylesheet', href='/css/default.css')
  body
    header
      h1 ¡Bienvenido a los Portafolios!
    main
      p Este es un sitio web que muestra diferentes portafolios de personas apasionadas por la tecnología y la programación. ¡Echa un vistazo!
    footer
      p © 2023 Portafolios
