nav.nav-menu
  ul.nav-list
    li.nav-item
      a.nav-link(href='/' + id) Inicio
    li.nav-item
      a.nav-link(href='/'+id+ '/skills') Habilidades
    li.nav-item
      a.nav-link(href='/'+id+ '/contact') Contacto